
.genre{
    background-image: url(MusicGig.gif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   
}
.genre ion-icon{
    font-size: 40px;
    color: gold;
    border: 1px solid darkmagenta;
    border-radius: 50px;
    background-image: url(DANCINGGIF.gif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
}
.now-playing {    
    margin-bottom: 3%;
    }





